<!-- Use if you want to show previous and next for all posts. -->


{% assign user_url = site.url | append: site.baseurl %}
{% assign full_base_url = user_url | default: site.github.url %}
{% if page.previous.url %}



  <div class="older">
    <a  href="{{ page.previous.url | prepend: full_base_url }}"> &larr;
     <!-- < older -->
      {{ page.previous.title }}
      <!-- <p>{{ page.previous.content | strip_html | truncatewords:20 }}</p> -->
    </a>
  </div>
  {% endif %}
  
  {% if page.next.url %}
  <div class="newer">
    <a  href="{{ page.next.url | prepend: full_base_url }}">
    
    
      <!-- newer > -->
      {{ page.next.title }} &rarr;
      
     <!-- <p>{{ page.next.content | strip_html | truncatewords:20 }}</p> -->
    
   </a>
  </div>

{% endif %}
