/**
 * Dark theme variables
 */

:root {
  --base-color: #efefef;/*#DBDBDB;*/
  --primary-color: #A2FC8F;
  --border: dotted 1px #5e5e5e; /*rgba(219, 219, 219, 0.9);*/
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #46494c;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
}