// Paper theme

// Color variables
$black: #2B2826;
$gray-dark: #423F38;
$wenge: #635D5C;
$rice: #E8D9C3;
$oldburgundy: #332729;
$gray: #A09992;
$gray-light: #D7D5D1;
$light: #efefef;
$white: #fff;
$burgundy: #B54545;
$latte: #FFF8E7;

// Config
$color-background: $latte !default;
$color-foreground: $wenge !default;
$color-title: $oldburgundy !default;
$color-body-text: $oldburgundy !default;
$color-text-accent: $wenge !default;
$color-code: $gray-dark !default;
$color-nav-link: $oldburgundy !default;
$color-primary-link: $oldburgundy !default;
$color-primary-underline: $wenge !default;
$color-border: $wenge !default;


// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
