/*
   Comprehensive Base Stylesheet - https://fvsch.com/base-stylesheet/
   Makes browser default styles more consistent, creating a canvas that you
   should modify for your project. Fully commented. Last update: 2011-10-02.
*/



@font-face { font-family: "et-book";
             src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
             src: url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }

@font-face { font-family: "et-book";
             src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
             src: url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: italic; }

@font-face { font-family: "et-book";
             src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
             src: url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
             font-weight: bold;
             font-style: normal; }

@font-face { font-family: "et-book-roman-old-style";
             src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
             src: url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
             font-weight: normal;
             font-style: normal; }


/* CONTAINERS */
body {
  margin: 0; padding: 0; /* Browsers have default 8px margins _or_ padding! */
  /*  font-size: 100%; See: http://www.informationarchitects.jp/en/100e2r/ */
  font-size: 13px;
  line-height: 1.5; /* Default value, `normal`, depends on the font */
  
  /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
  font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  
  
  
  
  width:600px;
  margin:0 auto;
  background-color: #ffffff;
  /* background-color: #fffff8; */
  color: #111;
  
}


/* HTML5 blocks - needed in older browsers */
article, aside, figcaption, figure, footer, header, nav, section {
  display: block;
}

/* PARAGRAPHS */
/* ridotta dimensione di 0.2em */
h1, h2, h3, h4 {
  margin: 1em 0 .5em; /* Titles should be close to the text they describe */
  line-height: 1.25; /* Bigger text is often nicer with smaller line height */
  font-weight: bold; /* Browser default. Use `normal` for less bulky titles */
}
h1 {font-size: 3.2em;}
h2 {font-size: 2.2em;}
h3 {font-size: 1.7em;}
h4 {font-size: 1em;}

ul, ol {
  margin: 1em 0; /* Default for all browsers except IE */
  padding-left: 40px; /* IE has a 40px margin-left instead */
  list-style-type: square;
}


p, ol, ul { font-size: 1.4em;
            line-height: 1.5em;
            margin: 0em 0;
}


blockquote {
border-left: 1px solid #afafaf;
  margin: 1.5em 0px;
  padding: 0.0em 15px;
font-style: italic;
  line-height: 1.5em;
}

blockquote p {
  display: inline;
}


figure {
  margin: 1em 0; /* Default in HTML5 spec: `1em 40px` */
}

/* LINKS */
/* Default browser styles (from Firefox, similar in most browsers) */
a {
	padding-bottom: 1px;
  text-decoration: none;
  border-bottom: 1px solid #afafaf;
}
a:link {color: #111;}
a:visited {color: #111;}
a:active {color: #111;}

/* Add your own styles for hover _and_ focus styles */
a:hover, a:focus {
  border-bottom: 1px solid #000;
  /* ... */
}



/* Remove dotted outline clicked links - Keeps outline on focus */
a:active, a:hover {
  outline: none;
}

/* No border around images in links */
a img {
  border: none;
}

/* MISC TEXT-LEVEL ELEMENTS */
/* Make quotations and references more visible */
q, cite {
  font-style: italic;
}

/* Remove automatic quotation marks for inline quotations
   (`q {quotes:none}` not implemented in WebKit) */
q:before, q:after {
  content: "";
}

/* Stopping superscript and subscript from adding to the line's leading */
sup, sub {
  line-height: 0;
}

/* FORMS */
fieldset {
  margin: 0; /* Common default is `0 2px` */
  padding: 0; /* Common default (roughly): `.35em .625em .75em` */
  border: none;
}
input, button, select {
  vertical-align: middle; /* Helps keep form elements roughly aligned */
}

/* TABLES */
table {
  border-collapse: collapse; /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
}

td, th {
  padding: 1px; /* Same as browser default - set to "0" to remove padding */
  vertical-align: top; /* Default is "middle" */
  text-align: left; /* Default for TH elements is "center" */
}

td:first-child, th:first-child {
  empty-cells: hide; /* Hide empty cells when they're the first in the row */
}

/* Mie aggiunte */

code, pre { font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
       font-size: 1.0rem;
       line-height: 1.42;
       padding:0.5em;
       
       }



/* custom classes*/

.titolo{padding-bottom:15px;}
.titolo a {border:none;}
.titolo a:hover, a:focus {  border-bottom: 1px solid;}

.nav {}
.nav a {border:none;}
.nav a:hover, a:focus {  border-bottom: 1px solid;}




.post_index{padding-bottom: 55px;}

.post_title a {border-bottom: none;}

.post_title a:hover {border-bottom: 1px solid;}

.footer{
		padding-top: 15px;
		padding-bottom: 15px;
		
		}

.footer p {font-size: 0.85em;}

.archive {font-size:0.85em;}

.footnotes{padding-top: 20px;}

.footnotes p{font-size: 0.8em;}

.footnotes ol {list-style-type: none;}


.pagination{
			 font-size: 1em;
			 /* text-align: center; */
			 margin-top:25px;
			 margin-bottom:20px;
			 padding-top:6px;
			 padding-bottom:35px;
			 
			 border-top: 1px solid #ebebeb;
			 border-bottom: 0px solid #ebebeb;
			 display: block;
			 
			}

.older {
    float: left;
	text-align: left;
		}

.newer {
		float:right;
		text-align: right;
}


.older a, .newer a {
border: none;
}

.older a:hover, .newer a:hover {
	color: #fffff8;
    background-color: #111;
    -webkit-transition: all 0.5s linear;
  	-moz-transition: all 0.5s linear;
  	-ms-transition: all 0.5s linear;
  	-o-transition: all 0.5s linear;
  	transition: all 0.5s linear;

}


.share {padding-top:25px;
		padding-bottom:10px;}

.share a{float: right; border: none;}

.share a:hover{
	
	color: #1da1f2;
    -webkit-transition: all 0.5s linear;
  	-moz-transition: all 0.5s linear;
  	-ms-transition: all 0.5s linear;
  	-o-transition: all 0.5s linear;
  	transition: all 0.5s linear;


}


img {
    max-width:100%;
    height:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: scale-down;
}



@media only screen and (max-width: 580px) {


body {
  	
  	width: 80%;
	margin: 15px;
    
}

h1 {font-size: 2.8em;}
h2 {font-size: 1.8em;}
h3 {font-size: 1.2em;}
h4 {font-size: 0.8em;}


p, ol, ul { font-size: 1.2em;
            line-height: 1.5em;
            margin: 0em 0;
}


}




